<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1 style="color: darkblue; text-align: center;">Personal Information</h1>
    <form action="/results" method="post" style="text-align: center;">
        <label for="name" style="font-size: xx-large;"> Enter your name: </label>
        <input type="text" id="name" name="name"> <br><br>
        <label for="age" style="font-size: xx-large;"> Enter your age: </label>
        <input type="number" id="age" name="age"> <br><br>
        <label for="nationality" style="font-size: xx-large;"> Enter your nationality: </label>
        <input type="text" id="nationality" name="nationality"> <br><br>
        <button type="submit" style="background-color: cornflowerblue; font-size: xx-large;"> Submit </button>
    </form>
</body>
</html>